:root{
    --font1:'Poppins';
    --font2:'Poppins', sans-serif;
    --color1:rgb(65, 7, 201);
    --color2:rgb(37, 12, 94);
    --color3:rgb(255, 254, 254);
    --color4:rgb(161, 153, 153);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    width:90%;
}

.navbar-container{
    width:100%;
    display: flex;
    align-items: center;
    /* justify-content:space-between; */
    position: relative;
    margin: 80px 0px 100px 0px;
}
.navbar-container div:nth-child(1){
    margin-right: 60px;
}
.list{
    display: flex;
    list-style: none;
    align-items: center;
}
.list li{
    color:var(--color4);
    font-size: 20px;
    margin: 0px 20px;
    font-weight: 500;
    font-family: var(--font2);
}
.list li:nth-child(1){
    color:rgb(19, 18, 18);
}
.button-group{
    position: absolute;
    right:0;
}
.nav-button{
    background: var(--color1);
    outline:none;
    border: none;
    width: 9vw;
    height: 3.5vw;
    border-radius:15px;
    color: var(--color3);
    font-size: 1vw;
    font-family: var(--font2);
    font-weight: bold;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-container>div{
    width: 45%;
}
.banner-container div:nth-child(1){
    padding-right: 50px;
}
.heading-text{
    font-size: 4vw;
    font-family: var(--font1);
    line-height: 100px;
    color: var(--color2);
}
.heading-text span{
    color:var(--color1);
}
.description{
    margin: 50px 0px 80px 0px;
    color: var(--color4);
    font-size:1.3vw;
    font-family: var(--font1);
    padding-right: 50px;
}
.btn{
    width: 12vw;
}
